body {
    background-color: #222224;
}

.middle {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.button {
    height: 60px;
    width: 150px;
    color: beige;
    background-color: #222224;
    font-size: 20px;
    font-weight: 700;
    border: 3px beige;
    border-radius: 3vw;
    border-style:outset;
    cursor: pointer;
    margin: 25px;
}

#box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.square {
    background: #202021;
    width: 25px;
    height: 25px;
    margin: 0px 4px;
    border: 3px solid black;
    border-radius: 1vw;
    cursor:crosshair;
}

.mouseover {
    background: beige;
    width: 25px;
    height: 25px;
    margin: 0px 4px;
    border: 3px solid black;
    border-radius: 1vw;
    cursor: crosshair;
}